*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nav ul li{
  list-style-type: none;
  width: 33%;
}
.Nav ul li:hover{
    background-color: gray;
}
.Nav ul li a{
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: #fff;
}
.Nav ul{
  margin-bottom: 0;
  padding-left:0 ;
}
.active{
  color: red !important;
  display: inline-block;
  /* width: 300px; */
  height: 28px;
  background-color: cyan;
  /* border-radius: 5px; */
  padding-left: 10px;
}